@page
@model DesktopApp.Pages.TrainingSessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Training Session</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingSession[0].ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingSession[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingSession[0].Coach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TrainingSession) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrainingSessionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrainingSessionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrainingSessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
